<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="./assets/css/style.css"/>
<style>
    body {
         color: black;
         }
       h1 { 
	       color: #000080;
		   }
		h2 {
            color: #000080;
            }
        a:link {
           color: blue;
           }
        a:visited {
           color: blue;
           }		   
</style>
</head>
  <body>  
    <main>
	<nav>
	<a href="index.html">Home</a> &nbsp &nbsp
	<a href="Page1.html">Getting Started</a> &nbsp &nbsp
	<a href="Page2.html">User Guide</a> &nbsp &nbsp
	<a href="Setting up your IBM Cloud account.html">IBM Page</a> &nbsp
	</nav><hr/>
	<header> {{page.image}}</header>
      <div>
        {{ content }}
      </div>
	  <footer>{% include footer.txt %}</footer>
    </main>   
  </body>
</html>
